<div class="main posts-show">
  <div class="container">

    <div class="posts-show-item">
      <div class="posts-show-title">
        <div class="posts_user">
          <%= link_to(@user.name,"/users/#{@user.id}") %>
        </div>
        <h3>
          タイトル
        </h3>
        <p>
          <%= @post.title %>
        </p>
      </div>
      <h2>
        レビュー
      </h2>
      <p>
        <%= @post.content %>
      </p>
    </div>
    <div class="posts-show-time">
      <p>
        <%= @post.created_at %>
      </p>
    </div>
    <% if @user.id == @current_user.id %>
    <div class="post-menus">
        <%= link_to("編集", "/posts/#{@post.id}/edit") %>
        <%= link_to("削除", "/posts/#{@post.id}/destroy") %>
    </div>
    <% end %>
  </div>

</div>
